* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --container-width-valuePx: 1170;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ========== Common ============ */
.container {
    width: calc(var(--container-width-valuePx) * 1px);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    min-width: 205px;
    padding: 0 26px;
    border: 1px solid #2e80ce;
    background: #2e80ce;
    border-radius: 999px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.02em;
}

.section-desc {
    max-width: 468px;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.control {
    display: flex;
    align-items: center;
    gap: 18px;
}

.control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100rem;
    border-radius: 36px;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s ease;
}

.control__btn:hover {
    color: #fff;
    border: 1px solid #2e80ce;
    background: #2e80ce;
    cursor: pointer;
}

.control__next-icon {
    rotate: 180deg;
}
/* ========== Header ============ */
.header {
    position: sticky;
    top: -22px;
    z-index: 3;
    background: var(--primary-color);
    padding-top: 30px;
    padding-bottom: 8px;
}

/* Header body */
.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.6em;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 #fff;
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::before {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100rem;
    background: #fff;
}

.header-action__login {
    color: #c9d2da;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.header-action__signUp {
    margin-left: 28px;
    height: 44px;
    min-width: 104px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 44px; /* 175% */
}

/* Hero */
.hero {
    --heroLeft-valuePx: 517;
    --heroRight-valuePx: 534;
    display: flex;
    align-items: center;
    height: calc(100vh - 82px);
    background: var(--primary-color);
}

.hero-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: calc(
        calc(var(--heroLeft-valuePx) / var(--container-width-valuePx)) * 100%
    );
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__media {
    width: calc(
        calc(var(--heroRight-valuePx) / var(--container-width-valuePx)) * 100%
    );
    margin-right: 6px;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__wrap-img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    background: lightgray 50% / cover no-repeat;
    overflow: hidden;
}

.hero__wrap-img:first-child {
    position: relative;
}

.hero__wrap-img:last-child {
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Service */
.service {
    --serviceLeft-valuePx: 570;
    --serviceRight-valuePx: 470;
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__wrap-img {
    width: calc(
        calc(var(--serviceLeft-valuePx) / var(--container-width-valuePx)) * 100%
    );
    height: calc(var(--serviceLeft-valuePx) * 1px);
    border-radius: 12px;
    background: lightgray 0px -1.3px / 100% 149.93% no-repeat;
    overflow: hidden;
}

.service__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.service__details {
    width: calc(
        calc(var(--serviceRight-valuePx) / var(--container-width-valuePx)) *
            100%
    );
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    justify-content: space-between;
    gap: 19px;
    padding: 21px 18px 22px;
    border-radius: 10px;
    background: #fff;
}

.service-item,
.service-item__icon-wrap,
.service-item__icon {
    transition: all 0.1s ease;
}

.service-item:hover {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon-wrap {
    color: #fff;
    background: #2e80ce;
}

.service-item__icon-wrap {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100rem;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    line-height: 1.28em;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Work */
.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    padding: 16px;
    border-radius: 4px;
    background: #eaf6ff;
    transition: all 0.25s ease;
}

.work-item:hover {
    transform: translateY(-16px);
    background: #2e80ce;
}

.work-item__body {
    padding: 43px 42px;
    border-radius: 4px;
    background: #fff;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__link {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.work-item__link:hover {
    text-decoration: underline;
}

/* Feature */
.feature {
    padding: 170px 0 85px;
}

.feature__body {
    --featureLeft-valuePx: 570;
    --featureRight-valuePx: 470;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    position: relative;
    display: flex;
    width: calc(
        calc(var(--featureLeft-valuePx) / var(--container-width-valuePx)) * 100%
    );
    height: 491px;
}

.feature__img-wrap:first-child {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    background: lightgray -1.5px 0px / 108.398% 100% no-repeat;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    flex-shrink: 0;
}

.feature__img-wrap:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    background: lightgray 50% / cover no-repeat;
    overflow: hidden;
    flex-shrink: 0;
}

.feature__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature__content {
    width: calc(
        calc(var(--featureRight-valuePx) / var(--container-width-valuePx)) *
            100%
    );
}

.feature__btn {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 85px 0;
}

.member__header {
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member-item__img-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item__img {
    margin-top: 28px;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.member-item__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86; /* 185.714% */
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}
/* Install */
.install {
    padding: 180px 0 85px;
}

.install__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__desc {
    max-width: 100%;
    font-weight: 200;
}

.install__row {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 38px;
}

/* News */
.news {
    padding: 85px 0;
}

.news__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: inline-block;
    margin: 28px 0; 
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; 
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.news__list {
    display: flex;
    gap: 30px; 
    max-width: 570px; 
}

.news-item {
    display: flex;
    flex-direction: column;
    flex: 1; 
    border-radius: 12px;
    background: #FFF;
    transition: 0.25s ease; 
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__body {
    border-color: #fff;  
}

.news-item__img-wrap {
    height: 172px;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
    background: lightgray -2px -4.032px / 100.741% 104.688% no-repeat;
    overflow: hidden; 
}

.news-item__thumb {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.news-item__body {
    padding: 18px 22px 21px;
    border: 1px solid #E8EBEE; 
    border-top: none;
    border-radius: 0px 0px 12px 12px;
    transition: 0.25s ease; 
    flex: 1; 
}

.news-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63;
}

.news-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; 
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 500;
}

.news-item__more:hover {
    color: #2E80CE;
}